{% extends "MyApp/primary.html" %}
{% block content %}



<head>
  <title>All info</title>
  </head>


<div class="container">
  <!-- Portfolio Item Heading -->
  <h1 class="my-4"> {{info.name}}


      {% if request.user.is_authenticated %}
            {% if is_favourite %}
               <a href="{% url 'favourite' id=info.id %}">
               <i class="fas fa-heart" style="color:red; "></i>
               </a>
               {% else %}
               <a href="{% url 'favourite' id=info.id %}">
               <i class="far fa-heart" style="color:red; "></i>
               </a>

               {% endif %}
        {% endif %}
  </h1>
  <!-- Portfolio Item Row -->
  <div class="row mb-8">

    <div class="col-md-8">
      <img class="card-img-top" src="{{ MEDIA_URL }}{{ info.image }}" alt=" no image ">

    </div>

    <div class="col-md-4 justify-content-center">
           <h3>Rating:<small> {{rating.rounded_avg}} </small></h3>
      <h3 class="my-3">Hotel Description</h3>


     <h5>{{ info.description }}</h5>
        <h3>Address:<small>{{ info.address }}</small></h3>

    </div>
  </div>
</div>


<hr>

 <form method="post">
  {% csrf_token %}
  {{ comment_form.as_p }}
  {% if request.user.is_authenticated %}
    <input class="btn btn-primary" type="submit" value="Submit">
  {% else %}
      <input class="btn btn-primary" type="submit" value="Submit" disabled>
  {% endif %}
 </form>

<hr>

     <div class = "main-comment-section">
    <h3 class="my-3">Reviews</h3>

    <small>{{ comments.count }} Comment{{ comments|pluralize}}</small>
    {% for comment in comments %}
     <blockquote class="blockquote">
       <p class="mb-0">{{ comment.content }}: {{ comment.rating }}</p>
       <div class="blockquote-footer"> by: <cite title="Source Title">{{ comment.user|capfirst }}<p>{{comment.timestamp}}</p></cite></div>
     </blockquote>

 {% endfor %}
    </div>

   <br><br>





{% endblock content %}
